<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a> </td> </tr>
      <tr> <td>08:30</td>  <td>Automating Tasks with the Unix Shell</td> </tr>
      <tr> <td>10:00</td>  <td>Morning break</td> </tr>
      <tr> <td>10:30</td>  <td>Automating Tasks with the Unix Shell (Continued)</td> </tr>
      <tr> <td>11:30</td>  <td>Wrap-up</td> </tr>
      <tr> <td>12:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>08:30</td>  <td>Building Programs with Python</td> </tr>
      <tr> <td>10:00</td>  <td>Morning break</td> </tr>
      <tr> <td>10:30</td>  <td>Building Programs with Python (Continued)</td> </tr>
      <tr> <td>11:30</td>  <td>Wrap-up</td> </tr>
      <tr> <td>12:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
<div class="row">        <!-- days 3 and 4 -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 3</h3>
    <table class="table table-striped">
      <tr> <td>08:30</td>  <td>Version Control with Git</td> </tr>
      <tr> <td>10:00</td>  <td>Morning break</td> </tr>
      <tr> <td>10:30</td>  <td>Version Control with Git (Continued)</td> </tr>
      <tr> <td>11:30</td>  <td>Wrap-up</td> </tr>
      <tr> <td>12:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 4</h3>
    <table class="table table-striped">
      <tr> <td>08:30</td>  <td>Managing Data with SQL</td> </tr>
      <tr> <td>10:00</td>  <td>Morning break</td> </tr>
      <tr> <td>10:30</td>  <td>Managing Data with SQL (Continued)</td> </tr>
      <tr> <td>12:00</td>  <td>Wrap-up</td> </tr>
      <tr> <td>12:30</td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Post-workshop Survey</a></td> </tr>
      <tr> <td>12:40</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
