<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a> </td> </tr>
     <tr> <td>08:30</td>  <td><a href="https://swcarpentry.github.io/shell-novice/" target="_blank">Introducing The Unix Shell</a></td> </tr>
     <tr> <td>08:40</td>  <td><a href="https://swcarpentry.github.io/shell-novice/02-filedir/index.html" target="_blank">Navigating Files and Directories</a></td> </tr>
     <tr> <td>09:40</td>  <td><a href="https://swcarpentry.github.io/shell-novice/03-create/index.html" target="_blank">Working with files and Directories</a></td> </tr>
     <tr> <td>10:40</td>  <td><a href="https://swcarpentry.github.io/shell-novice/04-pipefilter/index.html" target="_blank">Pipes and Filters</a></td> </tr>
     <tr> <td>12:00</td>  <td><a href="https://swcarpentry.github.io/shell-novice/05-loop/index.html" target="_blank">Loops and Shell Scripts</a></td> </tr>
     <tr> <td>13:00</td>  <td>END</td> </tr>
    </table>
  </div>
  
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 2</h3>
    <table class="table table-striped">
    <tr> <td>8:30</td>  <td><a href="https://swcarpentry.github.io/git-novice/" target="_blank">Version Control with Git</a></td> </tr>
	  <tr> <td>13:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>

<div class="row">        <!-- days 3 and 4 -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 3</h3>
    <table class="table table-striped">
   <tr> <td>08:30</td>  <td><a href="https://swcarpentry.github.io/python-novice-inflammation/01-intro/index.html" target="_blank">Python Fundamentals</a></td> </tr>
   <tr> <td>09:30</td>  <td><a href="https://swcarpentry.github.io/python-novice-inflammation/02-numpy/index.html" target="_blank">Analyzing Patient Data</a></td> </tr>
   <tr> <td>11:30</td>  <td><a href="https://swcarpentry.github.io/python-novice-inflammation/03-matplotlib/index.html" target="_blank">Visualizing Tabular Data</a></td> </tr>
	<tr> <td>13:00</td>  <td>END</td> </tr>
    </table>
  </div>
  
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 4</h3>
    <table class="table table-striped">
   <tr> <td>08:30</td>  <td><a href="https://swcarpentry.github.io/python-novice-inflammation/04-lists/index.html" target="_blank">Storing Multiple Values Lists</a></td> </tr>
   <tr> <td>09:30</td>  <td><a href="https://swcarpentry.github.io/python-novice-inflammation/05-loop/index.html" target="_blank">Repeating Actions with Loops</a></td> </tr>
   <tr> <td>10:15</td>  <td><a href="https://swcarpentry.github.io/python-novice-inflammation/06-files/index.html" target="_blank">Analyzing Data from Multiple Files</a></td> </tr>
   <tr> <td>11:00</td>  <td><a href="https://swcarpentry.github.io/python-novice-inflammation/07-cond/index.html" target="_blank">Making Choices</a></td> </tr>
   <tr> <td>12:00</td>  <td><a href="https://swcarpentry.github.io/python-novice-inflammation/08-func/index.html" target="_blank">Creating Functions</a></td> </tr>
    <tr> <td>13:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>

<div class="row">        <!-- day 5 -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 3</h3>
    <table class="table table-striped">
    <tr> <td>08:30</td>  <td><a href="https://swcarpentry.github.io/python-novice-inflammation/09-errors/index.html" target="_blank">Errors and Exceptions</a></td> </tr>
    <tr> <td>09:20</td>  <td><a href="https://swcarpentry.github.io/python-novice-inflammation/10-defensive/index.html" target="_blank">Defensive Programming</a></td> </tr>
    <tr> <td>10:30</td>  <td><a href="https://swcarpentry.github.io/python-novice-inflammation/11-debugging/index.html" target="_blank">Debugging</a></td> </tr>
    <tr> <td>12:50</td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Post-workshop Survey</a></td> </tr>
    <tr> <td>13:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>


