<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a> </td> </tr>
      <tr> <td>08:30</td>  <td><a href="http://swcarpentry.github.io/shell-novice/setup.html">Introductions and Setting Up</a></td> </tr>
      <tr> <td>08:50</td>  <td><a href="http://swcarpentry.github.io/shell-novice/01-intro/index.html">Introducing the Shell</a></td> </tr>
      <tr> <td>09:00</td>  <td><a href="http://swcarpentry.github.io/shell-novice/02-filedir/index.html">Navigating Files & Directories</a></td> </tr>
      <tr> <td>10:00</td>  <td>Short break</td> </tr>
      <tr> <td>10:30</td>  <td><a href="http://swcarpentry.github.io/shell-novice/03-create/index.html">Working With Files & Directories</a></td> </tr>
      <tr> <td>11:30</td>  <td>Short break</td> </tr>
      <tr> <td>11:45</td>  <td><a href="http://swcarpentry.github.io/shell-novice/04-pipefilter/index.html">Pipes and Filters</a></td> </tr>
      <tr> <td>13:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>08:30</td>  <td>Day 1 recap</td> </tr>
      <tr> <td>09:00</td>  <td><a href="http://swcarpentry.github.io/shell-novice/05-loop/index.html">Loops</a></td> </tr>
      <tr> <td>10:00</td>  <td>Short break</td> </tr>
      <tr> <td>10:30</td>  <td><a href="http://swcarpentry.github.io/shell-novice/06-script/index.html">Shell scripts</a></td> </tr>
      <tr> <td>11:30</td>  <td>Short break</td> </tr>
      <tr> <td>12:00</td>  <td><a href="http://swcarpentry.github.io/shell-novice/07-find/index.html">Finding things</a></td> </tr>
      <tr> <td>13:00</td>  <td>GitHub Account Setup and END</td> </tr>
    </table>
  </div>
   </div>
  <div class="row">
    <div class="col-md-6">
    <h3>Day 3</h3>
    <table class="table table-striped">
      <tr> <td>08:30</td>  <td><a href="http://swcarpentry.github.io/git-novice/02-setup/index.html">Setting Up Git</a></td> </tr>
      <tr> <td>09:00</td>  <td><a href="http://swcarpentry.github.io/git-novice/03-create/index.html">Creating a Repository</a></td> </tr>
      <tr> <td>09:30</td>  <td><a href="http://swcarpentry.github.io/git-novice/04-changes/index.html">Tracking Changes</a></td> </tr>
      <tr> <td>10:00</td>  <td>Short break</td> </tr>
      <tr> <td>10:15</td>  <td><a href="http://swcarpentry.github.io/git-novice/05-history/index.html">Exploring History and Ignoring Things</a></td> </tr>
      <tr> <td>11:15</td>  <td>Short break</td> </tr>
      <tr> <td>11:30</td>  <td><a href="https://swcarpentry.github.io/git-novice/07-github/index.html">Remotes in GitHub</a></td> </tr>
      <tr> <td>12:30</td>  <td><a href="https://swcarpentry.github.io/git-novice/08-collab/index.html">Collaborating</a></td> </tr>
      <tr> <td>13:00</td>  <td>Python Setup and END</td> </tr>
    </table>
  </div>
 </div>

<div class="row">        <!-- days 3 and 4 -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 4</h3>
    <table class="table table-striped">
   <tr> <td>08:30</td>  <td>Welcome to Python</td> </tr>
   <tr> <td>08:45</td>  <td><a href="https://swcarpentry.github.io/python-novice-gapminder/01-run-quit/index.html" target="_blank">Running and Quitting in Python</a></td> </tr>
   <tr> <td>09:45</td>  <td><a href="https://swcarpentry.github.io/python-novice-gapminder/02-variables/index.html" target="_blank">Variables and Assignment</a></td> </tr>
   <tr> <td>10:00</td>  <td>Short break</td> </tr> 
   <tr> <td>10:20</td>  <td><a href="https://swcarpentry.github.io/python-novice-gapminder/03-types-conversion/index.html" target="_blank">Data Types and Type Conversion</a></td> </tr>
   <tr> <td>11:25</td>  <td><a href="https://swcarpentry.github.io/python-novice-gapminder/04-built-in/index.html" target="_blank">Built-in Functions and Help</a></td> </tr>
   <tr> <td>11:45</td>  <td><a href="https://swcarpentry.github.io/python-novice-gapminder/06-libraries/index.html" target="_blank">Libraries</a></td> </tr>
   <tr> <td>12:00</td>  <td>Anaconda Setup</td> </tr>
   <tr> <td>13:00</td>  <td>END</td> </tr>
    </table>
  </div>
  
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 5</h3>
    <table class="table table-striped">
   <tr> <td>08:30</td>  <td>Day 4 Recap</td> </tr>
   <tr> <td>08:45</td>  <td><a href="https://swcarpentry.github.io/python-novice-gapminder/07-reading-tabular/index.html" target="_blank">Reading Tabular Data into DataFrames</a></td> </tr>
   <tr> <td>09:45</td>  <td><a href="https://swcarpentry.github.io/python-novice-gapminder/08-data-frames/index.html" target="_blank">Pandas DataFrames</a></td> </tr>
   <tr> <td>10:00</td>  <td>Short break</td> </tr> 
   <tr> <td>10:20</td>  <td><a href="https://swcarpentry.github.io/python-novice-gapminder/09-plotting/index.html" target="_blank">Plotting</a></td> </tr>
   <tr> <td>11:25</td>  <td><a href="https://swcarpentry.github.io/python-novice-gapminder/11-lists/index.html" target="_blank">Lists</a></td> </tr>
   <tr> <td>11:45</td>  <td><a href="https://swcarpentry.github.io/python-novice-gapminder/12-for-loops/index.html" target="_blank">For Loops</a></td> </tr>
   <tr> <td>12:00</td>  <td><a href="https://swcarpentry.github.io/python-novice-gapminder/13-conditionals/index.html" target="_blank">Conditionals</a></td> </tr>
   <tr> <td>12:30</td>  <td><a href="https://swcarpentry.github.io/python-novice-gapminder/14-looping-data-sets/index.html" target="_blank">Looping Over Data Sets</a></td> </tr>
   <tr> <td>13:00</td>  <td>END</td> </tr>
<tr> <td>After</td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Post-workshop Survey</a></td> </tr>
    </table>
  </div>
</div>
